.body{
    display: flex;
    width: 100%;
    height: 100%;
} 

/* estilização do layout da pagina */
.container{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* estilizacao do layout do reportar */
.group{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* estilizacao do layout do conteudo da pagina */
.contato__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* estilizacao do navbar do conteudo */
.top{
    background-color: var(--color-background);
    width: 50rem;
    border-radius: 10px 10px 0px 0px;
    margin: 10px 10px 0px 10px;
    padding: 10px;
}

/* estilizacao das letras do navbar */
.contato h2{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-title-blue);
}

.contato p{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-black);
}

.contato a{
    color: var(--color-title-blue);
}

/* inicio da estilização formulario */
.contact{
    background-color: var(--color-white);
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    border: 8px solid var(--color-background);
    
}

/* estilizacao da parte de dentro do formulario */
.section{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 25rem;
}

/* estilizacao dos inputs */
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65rem;
}

.input input{
    background-color: var(--color-rolagem-polegar);
    color: var(--color-black);
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    width: 30rem;
    height: 3rem;
    outline: none;
    cursor:auto;
}

/* alterar a cor da letra do formulario */
.container input::placeholder{
    color: var(--color-black);
}

/* estilizacao da div de descricao */
.description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65rem;
    height: 10rem;
}

.description textarea{
    width: 30rem;
    height: 10rem;
    font-size: 1.4rem;
    border-radius:8px;
    border: 3px solid var(--color-button);
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 8px 0;
    padding: 10px 15px;
}

/* estilização botao */
.button button {
    margin: 5px;
    height: 2.5rem;
    width: 7rem;
    font-size: 1rem;
    background-color: var(--color-button);
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.button button:hover{
    background-color: #e65a00;
}