@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.part1 {
  font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a primeira parte */
  font-weight: normal;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.part2 {
  font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a segunda parte */
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.divLogout {
  background-color: var(--color-backgorund);
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o contêiner */
  background-position:center; /* Centraliza a imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Alinhar a foto de perfil */
.profileImage {
  display: flex;
  gap: 2rem;
  text-align: right;
  width: 10px;
  height: 10px;
}

.profilePhoto img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.voltar {
  border-radius: 20px;
  height: 100px;
  overflow: hidden;
  width: 100%;
  padding: 25px;
  justify-content: left;
  align-items: center;
}

.voltar h1 {
  font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a segunda parte */
  font-weight: inherit;
  font-size: 22px;
  color: white;
}

.iconeVoltar {
  width: 56px;
  height: 50px;
  cursor: pointer;
  color: black;
}

/* Alinhamento da logo */
.logo {
  display: flex;
  width: 100%;
  height: 60px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 10px;
}

/* Estilização layout */
.container {
  background: linear-gradient(to right, #f98035, #f92f0c);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  height: 40rem;
  width: 65rem;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
}

/* Estilização do título */
.title h1 {
  text-align: center;
  color: var(--color-white);
  font-weight: bold;
  font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a primeira parte */
  font-size: 50px;
}

/* Estilização do agrupamento */
.group {
  width: 100%;
  height: 350px;
  display: flex;
  margin-top: 2px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilização do agrupamento entre as bordas */
.information {
  justify-content: space-around;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-light);
  border-radius: 10px;
  margin: 15px;
  width: 35rem;
}

/* Estilização da div do texto */
.text {
  margin: 15px;
}

.text p {
  color: var(--color-white);
  font-weight: normal;
  font-family: "Alumni Sans", sans-serif;
  font-size: 25px;
}

/* Estilização da div do botão */
.button {
  padding-bottom: 10px;
  padding-left: 5px;
}

/* Estilização dos botões */
.button button {
  background-color: var(--color-icon);
  color: var(--color-white);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

/* Estilização do botão maior */
.logout {
  justify-content: center;
  display: flex;
}

/* Estilização dos links */
.termos a {
  color: var(--color-white);
  font-size: 15px;
  text-decoration: none;
  margin: 12px;
}

/* Estilizando a div dos links */
.termos {
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1500px) {  
  .part1 {
    font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a primeira parte */
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  
  .part2 {
    font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a segunda parte */
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  
  .divLogout {
    background-image: url(../../assets/imagemFundoLogout.png);
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o contêiner */
    background-position:center; /* Centraliza a imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Alinhar a foto de perfil */
  .profileImage {
    display: flex;
    gap: 2rem;
    text-align: right;
    width: 10px;
    height: 10px;
  }
  
  .profilePhoto img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
  
  .voltar {
    border-radius: 20px;
    height: 90px;
    overflow: hidden;
    width: 100%;
    padding: 25px;
    justify-content: left;
    align-items: center;
  }
  
  .voltar h1 {
    font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a segunda parte */
    font-weight: inherit;
    font-size: 18px;
    color: white;
  }
  
  .iconeVoltar {
    width: 50px;
    height: 40px;
    cursor: pointer;
    color: black;
  }
  
  /* Alinhamento da logo */
  .logo {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
    margin-top: 5px;
  }

  .logoLogout{
    width: 90px;
  }
  
  /* Estilização layout */
  .container {
    background: linear-gradient(to right, #f98035, #f92f0c);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    height: 75%;
    width: 60%;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Estilização do título */
  .title h1 {
    text-align: center;
    color: var(--color-white);
    font-weight: bold;
    font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a primeira parte */
    font-size: 30px;
  }
  
  /* Estilização do agrupamento */
  .group {
    width: 100%;
    height: 250px;
    display: flex;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Estilização do agrupamento entre as bordas */
  .information {
    justify-content: space-around;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-light);
    border-radius: 10px;
    margin: 15px;
    width: 35rem;
  }
  
  /* Estilização da div do texto */
  .text {
    margin: 15px;
  }
  
  .text p {
    color: var(--color-white);
    font-weight: normal;
    font-family: "Alumni Sans", sans-serif;
    font-size: 25px;
  }
  
  /* Estilização da div do botão */
  .button {
    padding-bottom: 10px;
    padding-left: 5px;
  }
  
  /* Estilização dos botões */
  .button button {
    background-color: var(--color-icon);
    color: var(--color-white);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* Estilização do botão maior */
  .logout {
    justify-content: center;
    display: flex;
  }
  
  /* Estilização dos links */
  .termos a {
    color: var(--color-white);
    font-size: 14px;
    text-decoration: none;
    margin: 12px;
  }
  
  /* Estilizando a div dos links */
  .termos {
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
  }
}