.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
}

.profileHeader {
  display: flex;
  align-items: flex-start; 
}

.profileImage {
  width: 50px; /*tamanho da imagem */
  height: auto;
  margin-right: 10px; /* Espaçamento entre a imagem e o texto */
  border-radius: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.profileTitle, .accountTitle {
  margin: 0; 
  padding-left: 10px; 
  align-self: flex-start; /* Alinha o título à esquerda */
}

.rectangleEditar {
  position: relative;
  top: 5px; /* Ajuste a distância para baixo conforme necessário */
  right: 0px;
  width: 100px;
  height: 29px;
  background-color: var(--color-button);
  color: var(--color-icon);
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza verticalmente */
  border-radius: 10px;
  z-index: 2;
  margin-left: auto;
  cursor: pointer;
}

.rectangleEditar:hover{
  background-color: #e65a00;
}

.rectangleEditar p {
  color: var(--color-white);
  display: flex; /* Usa flex para alinhar ícone e texto */
  align-items: center; /* Centraliza verticalmente */
  margin: 0; /* Remove margens padrão */
}

.rectangleEditar p svg {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.rectangleInfo {
  width: 1000px; 
  background-color: var(--color-background); 
  margin-top: 30px; /* Espaçamento entre "Gerenciar Conta" e o retângulo */
  padding: 20px; 
  border-radius: 20px; /* Adiciona bordas arredondadas */
}

.rectangleTitleInfo, .rectangleTitleSobre, .rectangleTitleEstatisticas {
  display: flex; 
  align-items: center; 
  text-align: left; 
  margin-bottom: 10px; 
}

.rectangleTitleInfo svg, .rectangleTitleSobre svg, .rectangleTitleEstatisticas svg {
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.textInsideRectangleInfo {
  text-align: left; /* Alinha o texto à esquerda */
}

.textInsideRectangleInfo p {
  margin-bottom: 10px; /* Espaçamento entre os parágrafos */
}

.rectangleContainer {
  display: flex;
  justify-content: space-between;
  width: 1000px; 
  margin-top: 30px; 
}

.rectangleSobre, .rectangleEstatisticas {
  width: 48%; 
  background-color: var(--color-background); 
  padding: 20px; 
  border-radius: 20px; 
}

.textInsideRectangleSobre, .textInsideRectangleEstatisticas {
  text-align: left; 
}

.textInsideRectangleSobre p, .textInsideRectangleEstatisticas p {
  margin-bottom: 10px; 
}

.textInsideRectangleEstatisticas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  text-align: center;
}

.statNumber {
  font-size: 100px; 
  font-weight: bold;
}

/* Ajuste para o Content */
.Content {
  align-items: flex-start;
}
