.Content{
  height: 800px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 20px;
  margin: 15px;
  margin-left: 3rem;
  padding: 30px;
  display: flex;
  overflow-x: hidden;
  text-align: center;
  justify-content: space-around;
  overflow-y: scroll;
  box-shadow: 0 2rem 3rem  var(--color-box-shadow);
  transition: all 0.3s ease;
}

.Content:hover{
  box-shadow: none;
}

.Content h1{
  color: var(--color-black);
}

/* Estiliza toda a barra de rolagem */
::-webkit-scrollbar {
  width: 12px; 
  height: 12px;
}

/* Estiliza a parte interna da barra de rolagem */
::-webkit-scrollbar-track {
  background: var(--color-rolagem-trilho); /* Cor do trilho da barra de rolagem */
  border-radius: 10px;
}

/* Estiliza o polegar (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: var(--color-rolagem-polegar); /* Cor do polegar da barra de rolagem */
  border-radius: 10px;
}

/* Estiliza o polegar quando está sendo ativado (clicado) */
::-webkit-scrollbar-thumb:active {
  background: var(--color-rolagem-active); /* Cor do polegar quando ativado */
}

@media screen and (max-width: 1000px) {
  .Content{
    height: 550px;
    width: 100%;
    
  }
}

@media screen and (max-height: 1000px) {
  .Content{
    height: 550px;
    width: 100%;
  }
}


@media screen and (max-width: 1500px) {
  .Content{
    height: 550px;
    width: 100%;
  }
}


@media screen and (max-height: 1500px) {
  .Content{
    height: 550px;
    width: 100%;
  }
}


@media screen and (max-width: 2000px) {
  .Content{
    height: 550px;
    width: 100%;
  }
}


@media screen and (max-height: 2000px) {
  .Content{
    height: 550px;
    width: 100%;
  }
}


@media screen and (max-width: 2500px) {
  .Content{
    height: 515px;
    width: 100%;
  }
}