@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.part1 {
    font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a primeira parte */
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  
  .part2 {
    font-family: "Alumni Sans", sans-serif; /* Exemplo de fonte para a segunda parte */
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }

  .logo {
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 2px;
  }

  .logo h1{
    margin-top: 3px;
    align-items: center;
  }

.navbar__Navbar {
    background-color: var(--color-orange);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__Navbar h1{
    font-size: 1.5rem;
    color: #fff;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    height: 40px;
    margin-right: 2rem;
    gap: 2rem;
}

.input input{
    background-color: var(--color-light);
    font-size: 1rem;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 35px;
}

.darkMode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.8rem;
    width: 3.8rem;
    cursor: pointer;
    border-radius: 5px;
}

.button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2.5px solid #fff;
}

.icon{
    font-size: 1rem;
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.icon path{
    color: var(--color-icon);
}

.iconActive {
    background-color: var(--color-icon-active);
    border-radius: 5px;
    font-size: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconActive path{
    font-size: 0.5rem;
    height: 1px;
    width: 1px;
    color: #fff;
}