.navbar__Navbar {
    background-color: #F17022;
    height: 60px;
    width: 100%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__Navbar h1{
    font-size: 1.5rem;
    margin-left: 2rem;
}

.input{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    height: 40px;
    margin-right: 2rem;
}

.input input{
    background-color: #f8f8f8;
    font-size: 1rem;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 15rem;
    height: 35px;
}