/* estilização da div mãe */
.sidebar{
    height: 500px;
    width: 10rem;
    margin: 15px;
    border-radius: 30px;
    display: grid;
}

.sidebar h1, h2, h3, p{
    color: black;
}

/* estilizacao para are de perfil do usuário */
.profile{
    height: 7rem;
    border-radius: 20px;
    background-color: #fff;
    padding: 3px 10px;
    cursor: pointer;
    box-shadow: 0 2rem 3rem  rgba(114, 120, 173, 0.18);
    transition: all 0.3s ease;
}

.profile:hover{
    box-shadow: none;
}

.profile img{
    height: 3.5rem;

}

/* estilizacao para o menu de opções */
.Menu{
    margin: 10px;
    margin-top: 1rem;
}

.icon {
    color: black;
    font-size: 25px; /* Ajuste o tamanho conforme necessário */
}

.Menu a{
    padding: 8px;    
    list-style-type: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    text-decoration: none;
}

.Menu a:hover{
    background-color: rgb(250, 157, 70);
    border-radius: 10px;
    transition: 0.5s;
    
}

/* estilizacao para a area de logout */
.logout{
    margin: 10px;
    height: 1rem;
    width: 6px;
}

.logout a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5rem;
}

.logout button{
    height: 2.3rem;
    width: 7rem;
    font-size: 1rem;
    background-color: #e4e4e4;
    border: solid 3px #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2rem 3rem  rgba(74, 78, 117, 0.18);
    transition: all 0.3s ease;
}

.logout button:hover{
    background-color: rgb(255, 82, 82);
    transition: 0.5s;
    color: #fff;
    box-shadow: none;
}

.logout button, a:hover{
    color:#fff;
    transition: 0.1s;
}